.slider
	span(1)
	padding 0 ($padding*2)
	margin-bottom ($padding*4)
	+below($md)
		padding 0 $paddingMobile !important
		margin-bottom ($paddingMobile*4)


.flickity-prev-next-button
	height 100%
	background transparent
	padding 0
	border none
	border-radius 0
	z-index 10
	top 0
	transform none
	svg
		align()
		width 1.8rem
		height 1.8rem
		+below($sm)
			width 1.2rem
			height 1.2rem
		path
			fill $lightgrey
	&.previous
		left 0
	&.next
		right 0
	&.touch
		display none
	&:focus
		outline none
		box-shadow none
	&:hover
		background transparent

.touchevents
	.slider
		position relative
		.flickity-prev-next-button.touch
			display block
			width $paddingMobile
			svg
				display block !important

.no-touchevents
	.flickity-prev-next-button
		cursor none !important
		width 50%
		&:not(:hover)
			svg
				visibility hidden

.post
	span(1)
	overflow hidden
	height auto
	position relative
	hideselect()
	.flickity-slider
		width 100%
		height 100%
	.scene
		width 100%
		height 100%
		position relative
		z-index 2
		.content
			width 100%
			display flex
			justify-content center
			align-items center
			&:not(.loaded)
				background $lightgrey
			img
				width 100%
				height 100%
				object-fit cover
		.content.video
			width 100%
			height 100%
			.plyr--video
				height 100%
				&.plyr--vimeo, &.plyr--youtube
					.plyr__video-wrapper
						align()
				.plyr__video-wrapper
					width 100%
					height 100%
			.plyr--ready
				width 100%
				height 100%
			video
				width 100%
				height 100%
				object-fit cover
		&.previous
			left 0
		&.next
			right 0
		&[disabled]
			display none
	&[data-media="video"]
		.flickity-prev-next-button
			width 20%
		.plyr__controls
			cursor auto
			+below($md)
				display none
		.plyr--stopped
			.plyr__controls
				opacity 0

.plyr__controls
	display none

.plyr__play-large
	padding 50px
	background transparent
	border none
	color $primary
	box-shadow none
	outline 0
	&:hover, &:active, &:focus
		outline 0
	svg
		width 30px
		height 30px

.plyr--playing .plyr__play-large
	visibility visible

.captions
	span(1)

.caption, .additional-caption
	span(1)
	text-align center
	&:first-child
		margin-top 1em
	p
		padding 0 $padding
		+below($md)
			padding 0 $paddingMobile