#texts
	span(1)
	padding 0 ($padding*2)
	margin-bottom ($padding*4)
	+below($md)
		padding 0 $paddingMobile
		margin-bottom ($paddingMobile*4)
	.text
		span(1)
		float right
		max-height 0
		transition max-height .6s $kinetic
		overflow hidden
		text-align right
		+below($md)
			max-width 30em
		+above($md + 1)
			padding-left 80%
		p
			margin-bottom $padding
			line-height 1.7
			&:first-child
				padding-top $padding
				+below($md)
					padding-top $paddingMobile