@import 'nib'
@import '../../node_modules/jeet/jeet.styl'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px
$md = $sm

// Colors
$primary ?= #fff
$secondary ?= #000
$grey ?= #878786
$lightgrey ?= rgb(204, 204, 202)
$accent ?= $secondary

// Metrics
$padding = 4rem
$paddingMobile = 2rem
$font = 1.4rem
$logo = 1.8rem
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)
$containerTransition = 500ms

// CSS Reset
global-reset()

.dev{outline:1px solid #912eff}
.dev > * {outline:1px solid #5497ff}
.dev > * > * {outline:1px solid #51feff}
.dev > * > * > * {outline:1px solid #ff0000}
.dev > * > * > * * {outline:1px solid #00ff00}

@import '_main'
// @import 'plyr/scss/plyr.styl'
@import 'components/index'